body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    margin: 0 auto;
    animation: color 20s infinite linear;
    backdrop-filter: blur(2px) grayscale(100%);
    -webkit-backdrop-filter: blur(2px) grayscale(100%) ;
    z-index: -1;
}

.wholewrapper {
    width: 80%;
    margin:0 auto;
    overflow: hidden;
}

a {
	text-decoration: none;
	color:dimgrey;
}

a:hover {
    color:darkblue;
}

header {
    height:100px;  /*CHANGE THIS FOR MOBILE SCREENS WITH NEW STYLESHEET*/
    background-color: #fff;
}

header h1 {
    float: left;
    padding: 5px 60px;
    color:dimgrey;
}

header nav {
    float: right;
    padding-right: 20px;
}

header nav ul li {
    margin-top: 20px;
    display: inline-block;
    padding-right: 15px;
    height:40px;
}

header nav ul li:hover {
    background-image: url('images/navbomb.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 10px -6px;
    
}
.active {
    border-bottom: 2px solid crimson;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: bold;
    
}

#indeximg {
    background: url('images/index/bg.png') no-repeat center;
    background-size: cover;
    height: 300px;
    padding-top:5px;
}

#indeximg h2 {
    text-align: center;
	margin: 0 auto 1px auto;
    font-size: 30pt;
    width:400px;
    border-bottom: 3px solid crimson;
    padding: 80px 0 5px 0;
    color: white;
    text-shadow: 0px 4px 2px crimson;
    
}

#indeximg h3 {
    text-align: center;
    padding:0px;
    color: white;
    text-shadow: 0px 3px 1px crimson;

}

.centerp {
    text-align: center;
    padding: 10px;
}

.genrewrap {
    background-color:#fff;
}

#genreboxes {
    margin: 0 auto;
    
}
#genreboxes ul {
    text-align: center;
    list-style-type: none;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#genreboxes ul li {
    padding: 20px;
    padding-top:100px;
    margin-right: 15px;
    height:300px;
    width: 250px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
}

#genreboxes ul li.genre1 { 
    background-image: radial-gradient(800px, black,red);
}
#genreboxes ul li.genre2 {
    background-image: radial-gradient(800px, black,grey);
}
#genreboxes ul li.genre3 {
    background-image: radial-gradient(800px, black,red);
}

#genreboxes ul li a {
    color: crimson;
    font-size: 13pt;
}

#genreboxes ul li a:hover {
    color: goldenrod;
}

#albumboxes {
    position: relative;
    padding: 8px; 
}

#blockbg { /*Credit: https://superdesigner.co/tools/css-backgrounds*/
    background: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(45deg, #ffffff 25%, transparent 25%),linear-gradient(135deg, transparent 24%,crimson 25%, crimson 45%, transparent 45%), linear-gradient(45deg, transparent 24%,crimson 25%, crimson 45%, transparent 45%);
    background-size: 3em 3em;
    background-color: #ffffff;
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#inner {
    border: 2px solid crimson; 
    position: relative;
}

#albumboxes ul {
    text-align: center;
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

#albumboxes ul li {
    width: 10vw;
    height:10vw;
    margin-right: 5px;
    margin-left:5px;
    border-radius: 5px;
}

#albumboxes ul li a {
    color: #444;
	text-transform: uppercase;
	font-weight: bold;
}

#albumboxes ul li.album1 {
	background: url('images/index/album1.png') no-repeat center;
    background-size: 10vw 10vw;
}
#albumboxes ul li.album2 {
	background: url('images/index/album2.png') no-repeat center;
    background-size: 10vw 10vw;
}
#albumboxes ul li.album3 {
	background: url('images/index/album3.png') no-repeat center;
    background-size: 10vw 10vw;
}
#albumboxes ul li.album4 {
	background: url('images/index/album4.png') no-repeat center;
    background-size: 10vw 10vw;
}
#albumboxes ul li.album5 {
	background: url('images/index/album5.png') no-repeat center;
    background-size: 10vw 10vw;
}

footer {
    margin-top: 40px;
	background-color: #f8fafa;
    border-radius: 10px;
}

.genrewrapper {
    overflow:hidden;
    background-color:#444;
    margin:0 auto;
}

.ytvid {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ytvid iframe {
    width: 40vw;
    height: 30vw;
    max-height: 500px;
    max-width: 800px;
    margin-left: 5vw;
    margin-bottom: 40px;
}

.maingenre {
    color:whitesmoke;
    padding-top: 20px;
    padding-left: 20px;
    margin:20px 20px 20px 20px;
    
}

.genrewrapper details {
    color:whitesmoke;
    margin:0px 0px 0 20px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
    
  }

.genrewrapper summary {
    display: block;
    cursor: pointer;
}

.genrewrapper summary p:hover {
    color:darkblue;
}

.genrewrapper summary p {
    color:lightblue
}

.albumtable table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 50px;
}

.albumtable th {
    background-color: crimson;
    text-transform: uppercase;
    color: #fff;
    padding: 5px; 
}

.albumtable tr:nth-child(even) td {
    background-color: #f2f2f2;
}
  
.albumtable table tr:hover td {
    background-color:rgba(251, 213, 223, 1);
}

.albumtable table tr {
    width: 100%;
    
}

.albumtable table td {
    overflow-wrap: break-word;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.albumtable p {
    margin: 5px;
}

.albumtable img {
    width: 15vw;
}

.albumtable a {
    color:crimson;
}

.albumtable a:hover {
    color:goldenrod;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.gallery ul li {
    width: 10vw;
    height: 10vw;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    text-align: center;
  }
  
.gallery ul li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }

.overlay { /*Credit: https://blog.logrocket.com/responsive-image-gallery-css-flexbox/ */
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.5);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery ul li:hover .overlay {
    transform: scale(1);
}

.testwrapper {
    height: 100%;
}

.notablealbums {
    display: flex;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    margin-top: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 15px;
}

.albumtable summary {
    display: block;
    cursor: pointer;
    margin-bottom: 5px;
}

.albumtable summary p:hover {
    color:goldenrod
}

.albumtable summary p {
    color:crimson;
}

#genreboxes h4 {
    border-bottom: 2px solid crimson;
    width: 100px;
    margin: 0 auto;
}

.notablealbums h4 {
    border-bottom: 2px solid crimson;
}

.genrebox {
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 40px;
    display: flex;
    text-align: center;
}

.l {
    background-image: url("images/genres/lbg.png");
    background-size: cover;
    background-position: center;
}

.r {
    background-image: url("images/genres/rbg.png");
    background-size: cover;
    background-position: center;
}


.l:hover {
    background-image: url("images/genres/lbg2.png");
    color: black;
}

.r:hover {
    background-image: url("images/genres/rbg2.png");
    color: black;
}

.genrebox p {
    width: 30vw;
    margin-bottom: 80px;
    font-size: 12pt;
}

.gtextl {
    margin-left: auto;
    padding-right: 40px;
}

.genrebox h4 {
    font-size: 40pt;
    margin-bottom: 0;
    
}

.checked {
    color: orange;
  }

.reviewwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.reviewbox {
    display: inline;
    width: auto;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #f2f2f2;

}

.reviewbox img {
    width: 15vw;
    min-width: 200px;
    height: 15vw;
    min-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.reviewbox p {
    max-width: 350px;
}
